<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mlt.boot.mapper.FileMapper" >
  <select id="findByid" parameterType="java.lang.Long">
  
  select * from videoup where fileId=#{id}
  </select>
  <select id="findAll" resultType="mlt.boot.entity.FileEntity">
  
  select * from videoup
  </select>
  
  <insert id="saveFile" parameterType="mlt.boot.entity.FileEntity">
  INSERT INTO `menu` (
  name,
  pId,
  folder,
  img
)
VALUES
  (#{titleOrig},#{pId},'3',#{path})
  
  </insert>
  
</mapper>